
.body {background-color: #FFFFFF;
height: 817px;}
.footer {background-color: #FFCA03;
height: 70px;
margin-bottom: auto;}
.navbar-brand {font-family: 'Monofett', cursive; font-size: 40px;}
.Knowledge {font-family: 'Monofett', cursive; font-size: 25px;}
.nav-link {font-size: 13px;}
